nav a{
	display: block;
	text-align: center;
	margin: .5em;
}

@media(min-width: 800px){
	nav{
		display: flex;
		justify-content: flex-end;
		clip-path: ellipse(69% 75% at 51.9% 0%);
		height: 15rem;
	}
}