.story-container{
	display: block;
}

.image{
	transition: all .5s ease-in-out;
}

.image:hover{
	transform: rotate3d(0, 5, 7, 360deg);
	filter: grayscale(1);
}

@media(min-width: 800px){
	.story-container{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		grid-gap: 5rem;
		max-width: 120rem;
		margin: 0 auto;
		width: 95%;
	}

}