h1{
  text-transform: uppercase;
}

.App {
  text-align: center;
}
.center{
  display: flex;
  justify-content: center;
}

.container{
  width: 100%;
  height: 25rem;
  margin-top: 2em;
  padding: 2rem;
}

@media(min-width: 800px){
  .container{
    width: 100%;
    height: 50rem;
    border-top-right-radius: 100%;
  }

}