h1{
  text-transform: uppercase;
}

.App {
  text-align: center;
}

.center{
  display: flex;
  justify-content: center;
}

.container{
  width: 100%;
  margin: 2.5rem auto;
  padding: 2.51rem;
}

.fixed{
  position: fixed;
  width: 100%;
  z-index: 1;
}